@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$color-1: #007bff;
$color-2: #fff;
$color-3: $color-1+#333;

/* Animation classes */
.fade-enter {
    opacity: 0;
    transition: 1s all;

    &.fade-enter-active {
        opacity: 1;
    }
}

.fade-exit {
    opacity: 1;
    transition: 1s all;

    &.fade-exit-active {
        opacity: 0;
    }
}

.slideIn-appear {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: 1s all;

    &.slideIn-appear-active {
        top: 0%;
    }
}

.msg-enter {
    right: 100%;
    transition: .5s all;

    &.msg-enter-active {
        right: 0%;
    }
}

.right.msg-enter {
    left: 100%;
    transition: .5s all;

    &.msg-enter-active {
        left: 0%;
    }
}

/* Login component */
.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ddd, #fff);


    .login-content {
        display: flex;
        flex-flow: column wrap;

        h1 {
            color: $color-3;
            text-transform: capitalize;
            font-size: 1.8rem;
            margin: 0 auto;

            @media (min-width: 572px) {
                font-size: 2.8rem;
            }
        }

        div {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 20px;
        }

        input {
            font-size: 1.1rem;
            border: none;
            border-bottom: 3px solid #5aaade;
            padding: 5px;
            outline: none;
            background: transparent;
            color: #333;
            width: 200px;
            text-align: center;

            @media (min-width: 572px) {
                font-size: 1.8rem;
                width: 280px;
            }
        }

        p {
            color: red;
            font-weight: 500;
            font-size: .8rem;

            @media (min-width: 576px) {
                font-size: 1rem;
            }
        }

        button {
            cursor: pointer;
            width: 230px;
            margin: 0 auto;
            font-size: 1.3rem;
            text-align: center;

            @media (min-width: 572px) {
                width: 350px;
                margin: 0 auto;
                font-size: 1.5rem;
            }
        }
    }
}

/* Main container */
.main-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .main-menu {
        background: linear-gradient(to left, #ddd, #fff);
        width: 0%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: .5s all;
        z-index: 5;
        display: flex;
        flex-flow: column;

        &.active {
            width: 70%;

            @media screen and (min-width: 992px) {
                width: 30%;
            }
        }

        .sidemenu-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px 8px;
            background: linear-gradient(to top, $color-3, $color-1);
            flex-shrink: 0;
        }

        .menu-opener,
        .logof {
            background: transparent;
            border: 0;
            color: #fff;
            outline: none;
            flex-shrink: 0;

            i {
                font-size: 2rem
            }
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 250px;
            flex-flow: column wrap;
            flex-shrink: 0;

            span {
                padding: 20px;
                border-radius: 50%;
                margin-bottom: 10px;
                color: white;
                font-size: 2rem;
                background: radial-gradient($color-3, $color-1)
            }

            h2 {
                font-size: 2rem;
                color: #333;
            }
        }

        .chat-types {
            display: flex;
            flex-flow: column;
            flex-grow: 1;
            padding: 10px 20px;

            .type {
                background: transparent;
                font-size: 1.5rem;
                color: #333;
                border: 0;
                text-align: left;
                text-transform: capitalize;
                font-weight: 500;
                outline: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-shrink: 0;
            }
        }

        .friend-list {
            display: flex;
            margin: 10px 20px 20px;
            background: #fff;
            justify-content: flex-start;
            flex-flow: column;
            border-radius: 0 0 10px 10px;
            overflow-y: auto;

            .friend {
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                transition: .5s all;
                flex-shrink: 0;

                &:hover {
                    background: #ddd
                }

                div:first-child {
                    padding: 10px;
                    border-radius: 50%;
                    color: white;
                    font-size: .8rem;
                    background: radial-gradient($color-3, $color-1);
                    margin-right: 10px;
                }

                div:last-child {
                    font-size: 1.3rem;
                    color: #333;
                }
            }
        }
    }

    .main-content {
        display: flex;
        flex-flow: column;
        height: 100%;
        position: fixed;
        width: 100%;
    }
}

/* Navbar component */
.page-navbar {
    background-color: $color-1;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-shrink: 0;

    .page-title {
        color: $color-2;
        font-size: 2.2rem;
        text-transform: capitalize;
        margin: 0 auto;
    }

    .menu-opener {
        background: transparent;
        border: 0;
        color: #fff;
        outline: none;

        i {
            font-size: 2rem
        }
    }
}

/* MessageArea component  */
.message-container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    .message-area {
        padding: 0 15px;
        margin: 20px 0 0;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;

        @media (min-width: 576px) {
            padding: 0 30px;
        }
    }

    .message {
        background: linear-gradient(to right, #ddd, #eee);
        color: #333;
        position: relative;
        border-radius: 0 15px 15px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 30px;
        margin-right: auto;
        padding: 10px;
        flex-shrink: 0;
        min-width: 150px;

        &.right {
            background: linear-gradient(to top, $color-3, $color-1);
            color: white;
            direction: rtl;
            border-radius: 15px 0 15px 15px;

            .message-time {
                direction: ltr;
                left: auto;
                right: 20px;
            }
        }

        .message-sender {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 0 0 10px;

            @media (min-width: 576px) {
                font-size: 1.6rem;
            }
        }

        .message-content {
            font-size: 1rem;
            margin: 0;
            text-align: start;
            word-break: break-all;

            @media (min-width: 576px) {
                font-size: 1.1rem;
            }
        }

        .message-time {
            position: absolute;
            bottom: -20px;
            left: 20px;
            color: #888;
            font-size: 0.8rem;
        }
    }

    .deleted-user {
        display: flex;
        justify-content: center;
        font-style: italic;
        color: #888;
    }

    .person-typing {
        font-size: 0.9rem;
        color: #888;
        font-style: italic;
        margin: 10px 30px;
        display: flex;
        height: 10px;
        align-items: center;
        flex-shrink: 0;

        @media (min-width: 576px) {
            font-size: 1.1rem;
        }
    }

    .message-typing {
        background: linear-gradient(to right, #ddd, #fff);
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 15px;
        margin: 0 10px 10px;
        padding: 0px 10px;

        textarea {
            border: 0;
            outline: none;
            font-size: 1.2rem;
            flex-grow: 1;
            max-height: 100px;
            background: transparent;
            resize: none;

            @media (min-width: 576px) {
                max-height: 150px;
            }
        }

        button {
            border-radius: 50%;
            margin-left: 5px;
            display: inline-flex;

            i {
                font-size: 1.8rem;

                @media (min-width: 572px) {
                    font-size: 2.3rem;
                }
            }
        }
    }
}